body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
    padding-left: 400px;
    padding-top: 20px;
    background-color: cadetblue;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 6px;
    font-size: 13px;
    font-weight: 600;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; /* Change this to your desired hover color */
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
    background-size: cover;
}
.logo {
    position: absolute;
    top: 10px;
    left: 100px;
    height: 120px; /* Adjust the height to fit your design */
    width: auto;
}

.service-times {
    display: flex;
    flex-direction: column; /* Stack the service-time containers vertically */
    align-items: center; /* Center items horizontally */
    margin-top: 20px; /* Add some spacing between sections */
}

.service-time-container {
    display: flex; /* Align items in a row */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between the columns */
}

.service-time {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center items horizontally */
    text-align: center;
}

.service-time i {
    font-size: 24px; /* Adjust icon size as needed */
    margin-bottom: 5px; /* Space between icon and text */
}

.service-times h3 {
    margin-bottom: 10px; /* Add some spacing below the heading */
    text-decoration: underline; /* Underline the heading */
}
footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}

section {
    padding: 100px 20px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
